<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Ignition.Template.Project1" description="Ignition.Template.Project1" dependencies="">
					<targetDataStore physicalRootPath="~/../Solution/Ignition.Template.Project1/Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<include name="Ignition.Template.Project1 Components" database="master" path="/sitecore/layout/Renderings/Site/Ignition.Template.Project1" />
						<include name="Ignition.Template.Project1 Templates" database="master" path="/sitecore/templates/Sites/Site/Ignition.Template.Project1" />
						<include name="Ignition.Template.Project1 Placeholders" database="master" path="/sitecore/layout/Placeholder Settings/Site/Ignition.Template.Project1" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>